<h2>Lista de Perfiles</h2>
<p><%= link_to "Crear nuevo", :new_profile, :class => "btn" %></p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre</th>
		</tr>
	</thead>
	<tbody>
		<% for profile in @profiles %>
		<tr>
			<td><%= profile.id %></td>
			<td><%= link_to profile.name, edit_profile_path(profile) %></td>
		</tr>
		<% end %>
	</tbody>
</table>